<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Security Demo</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"/>	
</head>


<body>
                                                                                 
<div class="grid-container">
  
  <div class="grid-item header">
    <h2 id="logo"> Spring Security Demo </h2>
    <nav> 
      <ul>
         <li class="active"><a href="/">Home</a></li>
		 <li class=""><a href="/posts/">Posts</a></li>
      <li class="navbar-text navbar-right">
			    Welcome <span sec:authentication="name">Guest Name</span>
				 <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
				    	...<a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
				 </form>
	 </li>
	  <li sec:authorize="hasRole('ROLE_ADMIN')">
  				<a href="/admin/posts/">Add Post</a>
		</li>
      </ul>
    </nav>
  </div>
  
  <div class="grid-item form">
    	<form name="frmlogin" th:action="@{/login}" method="post" class="form-signin">
		    <h2 class="signIn">Please sign in</h2>
            <div th:if="${param.error}" class="alert">    
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert"> 
                You have been logged out.
            </div>		    
		    <label for="username" class="sr-only"></label>
		    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true" />
		    <label for="password" class="sr-only"></label>
		    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />
		    <div class="checkbox">
		        <label class="remember">
		            <input id="remember-me" name="remember-me" type="checkbox" /> Remember me
		        </label>
		    </div>
		    <button class="submit" type="submit">Sign in</button>
		</form>
  </div>
  

  <div class="grid-item footer">
  	<p>&copy;wcci 2018</p>
  </div> 
  
   
</div>

</body>
</html>